@keyframes backgroundAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacityFilter {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

@keyframes characterAnimation {
    0% {
        opacity: 0;
        scale: .8;
    }
    100% {
        opacity: 1;        
        scale: 1;
    }
}

@keyframes linkItem {
    0% {
        opacity: 0;
        translate: 20px 0;
    }
    100% {
        opacity: 1;
        translate: 0px 0;
    }
}