@import "animations";
@import "pc";

@font-face {
    font-family: ibmvga8;
    src: url('ibm_vga8.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}

:root {
    color-scheme: dark;

    --clr-text: hsl(0, 0%, 80%);
    --clr-subtext: hsl(0, 0%, 50%);
    --clr-border: hsl(0, 0%, 24%);
    --clr-bg: hsl(0, 0%, 18%);
    --clr-highlight: hsl(0, 0%, 10%);
    
    --clr-bg-t05: hsla(0, 0%, 0%, 0.5);

    --clr-link: hsl(212, 65%, 70%);

    --clr-money: hsl(160, 41%, 53%);
    --clr-energy: hsl(43 100% 40%);
    --clr-food: hsl(128, 48%, 36%);

    --clr-bad: rgb(214, 69, 69);
    --clr-good: rgb(67, 179, 73);

    --clr-sara: hsl(170, 60%, 50%);

    --font-family: "MS PGothic", monospace;
    --font-family-emoji: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);    
    color: var(--clr-text);
    background-color: black;
    overflow: hidden;

    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    text-rendering: optimizeSpeed;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-border);
}

input {    
    outline: none;
    font-family: var(--font-family);
    color: var(--clr-text);
    font-size: 1em;
}

button {    
    outline: none;
    font-family: var(--font-family);
    color: var(--clr-text);
    font-size: 1em;
    border: 1px solid var(--clr-border);
    background-color: var(--clr-bg);
    padding: .25em .5em;
    cursor: pointer;

    &:hover {
        background-color: var(--clr-border);
    }

    &:active {
        margin-top: 1px;
        margin-bottom: -1px;
    }
}

//

#root {   
    --margin: 6px;
    width: calc(100vw - var(--margin) * 2);
    height: calc(100vh - var(--margin) * 2);
    margin: var(--margin);
}

.preload {
    height: 0px;
    overflow: hidden;
}

.game {
    width: inherit;
    height: inherit;
    border: 1px solid var(--clr-border);

    display: flex;
    flex-direction: column;
    position: relative;
    
    // background-size: cover;
    // background-position: center;
    // background-color: rgba(0, 0, 0, 0.6);
    // background-blend-mode: multiply;
}

.bad {
    color: var(--clr-bad);
    text-shadow: 1px 1px 0 #3d0000;
}

.money {
    color: var(--clr-money);
}

.sara {
    color: var(--clr-sara);
}

.good {
    color: var(--clr-good);
    text-shadow: 1px 1px 0 #003a00;
}

.subtext {
    color: var(--clr-subtext);
}

.info-bar {
    position: absolute;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 60px 1fr;
    padding: 1em 1.25em;
    //font-size: 1.25em;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.616), transparent);

    &__left {
        display: grid;
        grid-template-columns: max-content 72px max-content max-content max-content;
        gap: 1em;
    }

    .stat {
        line-height: 1;
        text-shadow: 1px 1px 0px black;

        .emoji {
            text-shadow: none;
        }
    }

    .time {
        text-align: center;
        font-size: 1.25em;
    }

    .money {        
        color: var(--clr-money);
        display: grid;
        grid-template-columns: max-content auto;

        &__value {
            text-align: right;
        }
    }    

    .progress {
        display: flex;
        align-items: center;

        span {
            margin-right: -.75em;
            z-index: 1000;
        }

        &.energy {
            progress::-webkit-progress-value {
                background-color: var(--clr-energy);            
                box-shadow: 0px 0px 5px rgb(100, 68, 0) inset;
            }
        }
    
        &.food {
            progress::-webkit-progress-value {
                background-color: var(--clr-food);            
                box-shadow: 0px 0px 5px rgb(100, 48, 12) inset;
            }
        }

        progress {
            border-radius: 8px; 
            height: 8px;
            width: 100px;
            box-shadow: 0px 0px 1px 1px black;
        }
        progress::-webkit-progress-bar {
            background-color: var(--clr-subtext);
            border-radius: 8px;
        }
        progress::-webkit-progress-value {
            border-radius: 8px;
            transition: width .5s ease;
        }
    }

    .location {
        text-align: right;
    }
}

.background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
    z-index: -1000;

    &--old {
        &.anim {
            animation: backgroundAnimation .3s ease forwards;
        }

        &.animated {
            opacity: 0;
        }
    }
}

.background-item {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
    z-index: -500;

    &--current {
        animation: opacity .3s ease forwards;
    }

    &--old {
        animation: backgroundAnimation .3s ease forwards;
    }
}

.content-wrapper {
    width: 720px;
    align-self: center;

    .content {
        backdrop-filter: blur(2px);

        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 40%, transparent 90%);

        border-image: linear-gradient(to right, var(--clr-border) 40%, transparent 90%);
        border-image-slice: 1;
        border-width: 1px 0 1px 1px;
        border-style: solid;
        
        height: fit-content;
        padding: 2em;
        
        & > *:not(:last-child) {
            margin-bottom: 1em;
        }

        .character-line {
            color: var(--clr-sara);

            & ~ br ~ .character-line {
                padding-top: .5em;
                display: block;
            }
        }

        .self-line {
            float: left;
        }

        .line {
            opacity: 0;
            animation: opacity .5s ease forwards;

            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    animation-delay: ($i - 1) * 2s + 0.5s;
                }
            }
        }

        p {
            line-height: 1.2;

            &:has(.line) {                
                text-align: right;
            }
        }
    }

    img.character {
        --margin-top: 20vh;
        float: right;
        height: calc(100vh - 6px * 2 - 2px - var(--margin-top));
        margin-top: var(--margin-top);
        z-index: 1000;
        position: relative;
        margin-right: -3em;
        translate: 1em 0;
    
        animation: characterAnimation .5s ease forwards;               
        transform-origin: bottom;
    }
    
    .height-fix {
        // 6px - #root top margin
        height: calc((50vh - 6px - 1em) - var(--height) / 2);
        transition: height .5s ease;
    }
}

.notification-list {
    position: absolute;
    right: 1em;
    top: 3em;
    width: 200px;
    display: grid;

    .notification-wrapper {
        animation: notification 5s ease forwards;
        overflow: hidden;
    }

    .notification {
        padding: .5em;
        border: 1px solid var(--clr-border);
        background-color: var(--clr-bg-t05);
        opacity: 0;
        animation: opacity .3s ease forwards;
        margin-bottom: .5em;
    }
}

@keyframes notification {
    from {
        max-height: 10000px;
    }
    to {
        max-height: 0px;
    }
}

.menu {
    position: absolute;
    width: 40px;
    display: grid;
    justify-items: center;
    top: calc(50% - 2em);

    .btn {
        display: flex;
        gap: .25em;
        align-items: center;
        cursor: pointer;
        padding: .25em .5em;
        opacity: .5;
        user-select: none;
        font-size: 1.25em;

        filter: opacity(0);
        animation: opacityFilter .5s ease forwards;

        transition: opacity .3s ease, scale .3s ease;
        transform-origin: left;
    
        &:hover {
            opacity: 1;
            scale: 1.2;

            &::after {
                position: absolute;
                left: 2.5em;
                font-size: 1rem;
                content: attr(data-title);
                width: max-content;
                display: block;
                animation: linkItem .3s ease forwards;
            }
        }
    }
}

.game > .window {    
    position: absolute;
    background-color: var(--clr-bg-t05);
    border: 1px solid var(--clr-border);
    z-index: 1000;

    opacity: 0;
    animation: characterAnimation .3s ease forwards;

    &.storage {
        width: 360px;
    }

    &.inventory {
        top: 20%;
        left: 4em;
    }

    &.wait {
        top: 4em;
        left: 50%;
        translate: -50% 0;
    }

    &.location {
        bottom: 20%;
        left: 4em;
    }

    & .window {
        &__top-bar {
            cursor: move;
            display: grid;
            grid-template-columns: auto max-content;
            background-color: var(--clr-bg-t05);
            border-bottom: 1px solid var(--clr-border);

            &__title {
                user-select: none;
            }

            &__btn-list {

                .btn {                        
                    padding: 4px 8px;
                    cursor: pointer;
                }
            }

            .btn-close {
                background-color: rgb(105, 0, 0);
            }
        }
    }
}

.storage {

    &__item-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &:empty {
            &::after {
                content: "Empty";
                color: var(--clr-subtext);
                aspect-ratio: 1 / 1;
                display: grid;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .item {
        display: grid;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1 / 1;

        &:hover {
            .btn {
                opacity: 1;
            }
        }

        & > * {
            grid-column: 1;
            grid-row: 1;
        }

        &__count {
            text-align: right;
            translate: 0 32px;
        }

        &__emoji {
            font-size: 3em;
            line-height: 1;
        }

        .btn {
            cursor: pointer;
            width: fit-content;
            user-select: none;
            opacity: 0;
            transition: opacity .3s ease;

            &:hover {
                scale: 1.1;
            }
        }

        .btn-use {
            align-self: center;
            justify-self: center;
            font-size: 1.25em;
        }

        .btn-export {            
            align-self: flex-end;
            translate: 0 -4px;
        }
    }
}

.wait {

    &__form {
        padding: 1em;
        display: grid;
        gap: .5em;
        justify-items: stretch;
        text-align: center;
    }
}

.shop {
    display: grid;

    .item {
        display: grid;
        grid-template-columns: 2.5em 120px 48px 32px;
        align-items: center;
        gap: .5em;
        width: fit-content;
        cursor: pointer;
        user-select: none;

        opacity: 0;
        animation: linkItem .3s ease forwards;
        animation-delay: calc(var(--index) * .05s + .05s);

        transition: scale .1s ease;

        &:active {
            scale: .95;
        }

        &:hover {
            .item__name {
                text-decoration: underline;
            }
        }

        &.no-money {
            cursor: default;

            &:active {
                scale: 1;
            }

            .item__name {
                filter: grayscale(1);
                text-decoration: none;
            }

            .item__price {
                color: var(--clr-bad);
            }
        }

        &__name {
            color: var(--clr-link);
        }

        &__emoji {
            font-size: 2em;
            text-align: center;
        }

        &__price {
            color: var(--clr-money);
            text-align: right;
        }

        &__own {
            opacity: .5;
            text-align: right;
        }
    }
}

.content:has(.shop) {
    .link {
        animation: none;
        transition: opacity .3s ease;
        opacity: 1;
    }
}

.game-over {
    display: grid;
    gap: .5em;
    justify-items: center;
    background-image: linear-gradient(to right, transparent, var(--clr-bg-t05), transparent);
    padding: 1em;
    width: 100%;

    &__wrapper {
        position: absolute;
        z-index: 1000;
        inset: 0;
        background-color: var(--clr-bg-t05);
        backdrop-filter: saturate(1000) blur(2px);
        display: grid;
        align-content: center;

        opacity: 0;
        animation: opacity 2s ease forwards;
    }

    &__title {
        font-size: 1.25em;
        color: var(--clr-bad);
        text-shadow: 1px 1px 0px black;
    }
}

.link-list {
    display: grid;

    &:empty {
        display: none;
    }

    .link {
        display: grid;
        gap: .25em;
        width: fit-content;
        grid-template-columns: 24px max-content max-content auto;
        align-items: baseline;
        user-select: none;

        opacity: 0;
        animation: linkItem .3s ease forwards;
        animation-delay: calc(var(--index) * .05s + .05s);

        &:not(.ignored) {
            cursor: pointer;
        
            &:hover {
                .link__title {
                    text-decoration: underline;
                }
            }
        }

        &.ignored {
            .link__emoji, .link__title {
                filter: grayscale(1);
            }
        }

        &__cost-list {
            margin-left: .25em;
            display: flex;
            gap: .5em;
        }

        &__emoji {
            font-family: var(--font-family-emoji);
        }

        &__title {
            color: var(--clr-link);
        }

        &__time {
            color: var(--clr-subtext);
        }
    }
}
